body, label, .checkbox label {
    font-weight: 300;
}

a {
    cursor: pointer;
}

/* General */
.search-box,
.search-result,
.paper,
.review{
    margin: 0 auto;
}

ol.author {
    list-style: none;
    padding-left: 0;
    padding-right: 25px;
    line-height: 24px;
}
ol.author li {
    display: inline-block;
    margin-left: 10px;
}


/* Home */
.search-box {
    height: 400px;
    padding: 30px 100px;
    text-align: center;
}
.search-box h1 {
    font-size: 50px;
}
.search-box p {
    color: #999;
}

/* Search Result */
ul.result {
    list-style: none;
    padding-left: 0;
}
ul.result h3 {
    margin-bottom: 0;
}

ul.result p {
    margin-top: 0;
}
ul.result ol.author {
    font-size: 12px;
}
ul.result .am-article-meta {
    margin: 0;
}

/* Paper */
.paper .am-article-title {
    margin-bottom: 0;
}

/* Reviews */
.reviews li {
    list-style: none;
    margin-top: 15px;
}

footer {
    height: 60px;
    line-height: 60px;
}
