#version=RHEL7
# System authorization information
auth --enableshadow --passalgo=sha512
# Install OS instead of upgrade
install
# Reboot after installation
reboot
# Use network installation
url --url="http://mirrors.ustc.edu.cn/centos/7/os/x86_64/"
# Use text mode install
text
# Firewall configuration
firewall --disabled
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8 --addsupport=zh_CN.UTF-8,zh_HK.UTF-8,zh_TW.UTF-8

# Network information
network  --bootproto=dhcp --ipv6=auto --activate
network  --bootproto=dhcp --hostname=vagrant
# Root password
rootpw --iscrypted $6$wcJZKfbw8VIxvAPg$fbDxQMJl1G/CFCUPvn4drKNbnNlg8GnBxbRl8PwcPHwCSa7xlxdXnqVQzsuctkIhYsiFY5/t.G.MAqCYDhKMQ1
# SELinux configuration
selinux --disabled
# System services
services --enabled="chronyd"
# Do not configure the X Window System
skipx
# System timezone
timezone Asia/Shanghai --isUtc
user --name=vagrant --password=$6$Mv/47R/zPy0Rr9Oo$u6FlFmqO2eAFWBp2cqe9HTzwDDykzozEKwvrlon7SAiIlnddjbptaomONk3i92918fXb8n4tYkJae267mdIQA1 --iscrypted --gecos="vagrant"
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel 

%post
# update root certs
wget -O/etc/pki/tls/certs/ca-bundle.crt http://curl.haxx.se/ca/cacert.pem
# sudo
echo "%vagrant ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers
# repo
yum install -y http://rpms.famillecollet.com/enterprise/remi-release-7.rpm
%end

%packages --excludedocs --nobase --ignoremissing
@Development Tools
@core
bzip2
chrony
epel-release
gcc
kernel-devel
kernel-headers
make
net-tools
nfs-utils
openssh-clients
perl
sudo
wget
yum-utils

%end
